[submodule "external/netcipher"]
	path = external/netcipher
	url = https://github.com/guardianproject/OnionKit.git
[submodule "external/nanohttpd"]
	path = external/nanohttpd
	url = https://github.com/NanoHttpd/nanohttpd.git
